<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="Regression1">
        <parameter name="nameParam" value="Alex"/>
        <parameter name="browserName" value="chrome"/>
        <parameter name="mainPageUrl" value="http://prestashop-automation.qatestlab.com.ua/ru/"/>
        <classes>
            <class name="_tests.MyTest"/>
        </classes>
    </test>
</suite>